.btn {
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
}

#entity-type {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 30px;
    border-radius: 0;
}

table {
    top: 30px;
    position: relative;
    /* border-collapse: separate; */
}

thead tr {
    position: sticky;
    background-color: rgb(252, 252, 252);
    z-index: .99;
    top: 65px;
    border-bottom: black solid ;
}

th {
    position: sticky;
    z-index: 1;
    top: 65px;
}

input {
    size: 1;
    min-width: 100px;
}

input[type="date"] {
    min-width: 150px;
}

select {
    size: 1;
    min-width: 150px;
}

