#sidebar {
    background-color: #333;
    color: white;
    position: fixed;
    height: 100%;
    margin-right: 20%;
    width: 20%;
    padding: 10px;
}


#simulation-area {
    margin-left: 20%;
    width: 1000px;
    height: 1000px;
}

/*
//Easier to see border but mess with table size
#simulation-area table {
    border: solid;
    border-width: 5px;
}*/

#simulation-area td {
    width: 10px;
    height: 10px;
}
#simulation-area td:hover {
    opacity: 0.5;
}
.map-icon:hover {
    background-color: dodgerblue;
}

#icons {
    position: relative;
}
.map-icon {
    position: absolute;
}

#tooltip {
    position: relative;
}
#tooltip-content {
    position: absolute;
    background-color: #333;
    color: white;
}
